<!DOCTYPE html> <!-- HTML 5 -->
<html lang="pt-br">
<!-- Portugues Brasil -->

<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<meta charset="UTF-8"><!-- Suporta Acentuacão -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulário</title>

</head>

<body>

	  <div class="px-4 py-3 my-5 text-center">
    <h1 class="display-5 fw-bold">Iguatu Massas</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-1">Área Administrativa - Cadastro de novos pratos</p>
    </div>
  </div>


	<form method="post" action="/prato/salvar" th:object="${prato}" style="margin: auto; width: 220px;" enctype="multipart/form-data">

		<input type="hidden" th:field="*{codigo}" />

	
			<div class="form-group">
				<label for="formGroupExampleInput"><b>Nome do Prato:</b></label>
				<input type="text" class="form-control" id="formGroupExampleInput" th:field="*{nome}">
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput1"><b>Preço do Prato:</b></label>
				<input type="number" class="form-control" id="formGroupExampleInput1" th:field="*{preco}" >
			</div>
			IMAGEM : <input type="file" name="imagem"> <br>

		<br>
		<button type="submit" class="btn btn-primary" value="Cadastrar"><b>Salvar</b></button>
		

	</form>



	<script src="/js/bootstrap.min.js"> </script>
</body>

</html>